.grades-box{
    min-height: 100vh;
}

.got-AB{
    background-color: var(--color-green);
}

.got-C{
    background-color: var(--color-yellow);
}

.got-F{
    background-color: var(--color-peach);
}
.no-grade{
    background-color: var(--color-gray);
}


.floatCSV {
    position: fixed;
    bottom: 35px;
    right: 18px;
    color: black;
    background-color: var(--color-peach);
    font-family: "Montserrat-ExtraBold";
    text-align: center;
    box-shadow: 2px 2px 3px #999;
  }

.good-visitor{
    background-color: var(--color-hover);
    font-family: "Poppins-ExtraBold";
    color: whitesmoke
}
.med--visitor{
    background-color: var(--color-green);
    font-family: "Poppins-ExtraBold";
}
 .no--visitor{
    background-color: var(--color-peach);
    font-family: "Poppins-ExtraBold";
 }
  .bad--visitor{
    background-color: var(--color-yellow);
    font-family: "Poppins-ExtraBold";
  }