/* IMAGE LIST STYLES */
.image-card-container {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border: 1px solid;
  }
  
  .image-card {
    margin: 0 auto;
    width: 66%;
    height: auto;
  }
  
  .main-image {
    max-width: 100%;
  }
  