:root {
  --color-fg: #7d64ff;
  --color-hover: #4934b3;
  --color-peach: #ff8f7d;
  --color-yellow: #ffe94a;
  --color-green: #57ffb3;
}

.surveyBox {
  padding: 50px 0px;
  height: 100%;
  background-color: whitesmoke;
}

h1 {
  text-shadow: 0px 2px 2px hsla(0, 2%, 2%, 0.2);
  color: var(--color-hover);
  border-bottom: 3px solid var(--color-peach);
  width: 20%;
  margin: 2px auto;
  font-family: Montserrat-ExtraBold;
}
.underscore-question {
  border-bottom: 2px solid red;
}

.questionOption {
  margin: 2rem auto;
  padding: 2rem 0;
  border: 1px solid gainsboro;
  box-shadow: 5px 4px 4px gainsboro;
}
.questionBox {
  font-family: Montserrat-Bold;
  cursor: pointer;
  font-size: 70%;
  margin: 1px auto;
  border: 1px solid var(--color-hover);
  vertical-align: middle;
  background: transparent;
  color: var(--color-fg);
}

.questionMake {
  font-size: 0.7rem;
}
.questionMake h6 {
  color: var(--color-hover);
}
.questionMake p {
  color: slategrey;
  font-size: 0.65rem;
  font-family: Montserrat-Bold;
}
