:root {
  --color-fg: #7d64ff;
  --color-hover: #4934B3;
  --color-peach:#FF8F7D;
  --color-yellow:#FFE94A;
  --color-green:#57FFB3;
}

.navbarLogo{
  max-height: 30px;
}

.navThing {
  margin: 7px 2px;
  font-family: Montserrat-ExtraBold;
  color: #7d64ff;
}

.nav-username{
  color: var(--color-fg);
}
.navThing:hover {
  color: var(--color-hover);
  text-decoration: none;
}

.link-text {
  font-size: 0.75em;
}

.activeNavLink {
  /* color: rgba(116, 35, 153, 0.6); */
  border-bottom: 1px solid var(--color-fg);
}

.user-text {
  color: #38dfb1;
}

.exit-text {
  color: var(--color-green);
  font-size: 0.65em;
  cursor: pointer;
}

.icon-color {
  color: rgb(15, 50, 240);
}
