@font-face {
  font-family: Poppins-Regular;
  src: url(./styles/fonts/poppins/Poppins-Regular.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./styles/fonts/poppins/Poppins-Medium.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(./styles/fonts/poppins/Poppins-ExtraBold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Light;
  src: url(./styles/fonts/poppins/Poppins-Light.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Thin;
  src: url(./styles/fonts/poppins/Poppins-Thin.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url(./styles/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./styles//fonts/montserrat/Montserrat-ExtraBold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./styles//fonts/montserrat/Montserrat-Bold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}


@font-face {
  font-family: Montserrat-Light;
  src: url(./styles/fonts/montserrat/Montserrat-Light.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

.foot {
  color: white;
  font-family: Montserrat-ExtraBold;
}

.activeNavLink {
  color: white;
  /* text-shadow: 2px 2px 3px rgba(220,220,220,0.5); */
}

.navThing {
  margin: 5px 8px;
  font-family: Montserrat-ExtraBold;
  color: rgb(116, 35, 153);
}

.lightThing {
  margin: 5px 8px;
  font-family: Montserrat-Light;
  color: rgb(116, 35, 153);
}

.printError {
  color: white;
  font-size: 0.5em;
  background-color: red;
  padding: 5px 10px;
  font-family: Montserrat-ExtraBoldItalic;
}

.testBorder-g {
  border: 1px solid gray;
}
.instrucciones{
  font-size: 0.75em;
  color: gray;
  font-family: Montserrat-Light;
}

.testBorder-b {
  border: 1px solid blue;
}

.testBorder-r {
  border: 1px solid blue;
}
.checkQuestion {
  color: rgb(116, 35, 153);
  font-size: 0.75em;
  font-family: Montserrat-ExtraBold;
}
.checkOption {
  color: rgb(74, 17, 100);;
  font-size: 0.75em;
  font-family: Montserrat-Bold;
}

.theNumber {
  color: black;
  font-family: Montserrat-Bold;
}
.checkBox {
  background-color: rgb(250, 250, 250);
  box-shadow: 5px 8px 7px black;
  margin: 17px auto;
  padding: 20px 12px;
}
.theTitle {
  color: gray;
  font-family: Montserrat-ExtraBold;
}

.nextBtn {
  background-color: rgb(40, 210, 105);
  margin: 22px auto;
  color: white;
  font-family: Montserrat-ExtraBold;
  text-transform: uppercase;
  border: none;
  padding: 7px 12px;
  box-shadow: 2px 2px 3px black;
}


/* Rocket Animation */

.shakeThatThing {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 4px) rotate(-1deg); }
  60% { transform: translate(-3px, 5px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shakeThatLittleThing {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.25s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-1px, 1px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-1px, 2px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}