@font-face {
  font-family: Poppins-Regular;
  src: url(./styles/fonts/poppins/Poppins-Regular.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./styles/fonts/poppins/Poppins-Medium.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url(./styles/fonts/poppins/Poppins-ExtraBold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Light;
  src: url(./styles/fonts/poppins/Poppins-Light.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Poppins-Thin;
  src: url(./styles/fonts/poppins/Poppins-Thin.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url(./styles/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./styles//fonts/montserrat/Montserrat-ExtraBold.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

@font-face {
  font-family: Montserrat-Light;
  src: url(./styles/fonts/montserrat/Montserrat-Light.ttf);
  /* src: url('../fonts/poppins/Poppins-Regular.ttf');  */
}

.foot {
  color: white;
  font-family: Montserrat-ExtraBold;
}

.activeNavLink {
  color: red;
}

.navThing {
  margin: 5px 8px;
  font-family: Montserrat-ExtraBold;
}

.printError {
  color: white;
  font-size: 0.5em;
  background-color: red;
  padding: 5px 10px;
  font-family: Montserrat-ExtraBoldItalic;
}

.testBorder-g {
  border: 1px solid gray;
}

.testBorder-b {
  border: 1px solid blue;
}

.testBorder-r {
  border: 1px solid red;
}
